body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    
    background-image: url('./img/z.jpg');
    
    background-size: cover;
    
    background-attachment: fixed;
    
    background-position: center;
}

.main {
    min-height: 120vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.container1 {
    max-width: auto;
    margin: 0 auto;
    border: 2px solid rgb(3, 2, 2);
    border-radius: 12px;
    padding: 100px; 
    background-color: #fff7f7;
}

.footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center; 
    height: 100px;
    padding: 10px 44px;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    & .block {
        display: flex;
        gap: 10px;
    }
}

